@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  background-color: #333;
  color: #fff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  background-color: #eee;
}

.button {
  width: 200px;
  height: 40px;
  margin-top: 100px;
}

.button > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px;
  border: 1px solid #555;
  background-color: #fff;
}

.picture {
  width: 700px;
  height: 200px;
  margin-top: 100px;
}

.picture > div {
  height: 100%;
  background-image: url(../img/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.picture:nth-of-type(even) {
  margin-left: auto;
}

.animation-target {
  position: relative;
  overflow: hidden;
}

.animation-target > a,
.animation-target > div {
  opacity: 0;
}

@keyframes showElements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-target.show > a,
.animation-target.show > div {
  animation: showElements 0.01s 0.9s forwards;
}

.animation-target::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(pink, skyblue);
  transform: translateX(-100%);
}

@keyframes showMask {
  0% {
    transform: translateX(-100%);
  }
  45%,
  55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animation-target.show::before {
  animation: showMask 1.8s forwards;
}

/* aaaaaa */
